/* Otros */
@import url("tsc.css");
@import url("table.css");
@import url("graficos-jqplot.css");

/*
body, html {
    color:#282828;
    background:#000000;
    text-align:center;
}

.customH3{
	font-family:"Arial", Helvetica, sans-serif;
	color: red;
}
*/

*{
margin:0px;
padding:0px;
}

body {
  text-align: center;
 }

#page-wrap {
  text-align: left;
  /* width: 800px; */
  width: 1024px;
  margin: 0 auto;
}

th.tablesorter-header {
  cursor: pointer;
}
th.tablesorter-header:after {
  content: "";
  float: right;
  margin-top: 7px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #000000 transparent;
  visibility: hidden;
}
th.tablesorter-headerSortUp,
th.tablesorter-headerSortDown {
  background-color: #f7f7f9;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
th.tablesorter-headerSortDown:after,
th.tablesorter-headerSortDown:hover:after {
  visibility: visible;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
}
th.tablesorter-headerSortUp:after {
  border-bottom: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000000;
  visibility: visible;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
}