<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Aplicacion Web Despacho </display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <location>/error.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <servlet-name>Login</servlet-name>
    <servlet-class>despacho.web.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>Logout</servlet-name>
    <servlet-class>despacho.web.servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletAdministracion</servlet-name>
    <servlet-class>despacho.web.servlet.ServletAdministracion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAdministracion</servlet-name>
    <url-pattern>/admin/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Resteasy</servlet-name>
    <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resteasy</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>resteasy.servlet.mapping.prefix</param-name>
    <param-value>/rest</param-value>
  </context-param>
  <context-param>
    <param-name>javax.ws.rs.Application</param-name>
    <param-value>despacho.rest.aplicacion.AplicacionDespachoREST</param-value>
  </context-param>
  <listener>
    <listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
  </listener>
  <servlet>
    <display-name>OrdenDespachoSoapWS</display-name>
    <servlet-name>OrdenDespachoSoapWS</servlet-name>
    <servlet-class>despacho.ws.servicios.expuestos.impl.OrdenDespachoSoapWSImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdenDespachoSoapWS</servlet-name>
    <url-pattern>/OrdenDespachoSoapWS</url-pattern>
  </servlet-mapping>
</web-app>